.navbar-content {
    list-style: none;
}
body {
    background-image: url(https://media.giphy.com/media/e5rHVwosWkEbS/giphy.gif);
    background-position: 50%;
    /* background-repeat: no-repeat; */
}
.bg-color {
    background: rgba(253, 245, 230, 0.4);
}
.navbar-content li {
    font-weight: 700;
}